{% extends 'base.html.twig' %}

{% block title %}Hello SerieController!{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">year</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for serie in series %}
                    <tr>
                        <td>
                            {{ serie.title }}
                        </td>
                        <td>
                            {{ serie.description }}
                        </td>
                        <td>
                            {{ serie.year }}
                        </td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('episode', {{ id: serie.id }}) }}">show episode</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a class="btn btn-warning" href="{{ path('home') }}">back home</a>
        </div>
    </div>





{% endblock %}